* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.calc-body {
  background-color: aqua;
  height: 50vh;
  width: 20vw;
}